Django==5.1.4
Pillow==11.1.0
django-environ==0.11.2
django-crispy-forms==2.3
crispy-bootstrap5==2024.2
django-ckeditor==6.7.1
django-imagekit==5.0.0
django-mptt==0.16.0
django-taggit==5.0.1
django-allauth==65.3.0
django-filter==24.3
djangorestframework==3.15.2
django-cors-headers==4.6.0
whitenoise==6.8.2
gunicorn==23.0.0
django-import-export==4.3.3
django-simple-history==3.7.0
django-axes==7.0.1
django-cleanup==9.0.0
django-extensions==3.2.3
sorl-thumbnail==12.11.0
openpyxl==3.1.5
reportlab==4.2.5
xhtml2pdf==0.2.16
python-decouple==3.8